:host {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    border: 5px solid red;
    padding: 10px;
}

.cart__title {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
}