.cart {
    &__title {
        font-weight: bold;
        text-decoration: underline;
        margin: 10px 0;
    }

    &__table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 800px;

        td,
        th {
            border: 1px solid black;
            padding: 5px 10px;
        }
    }

    app-cart-item {
        display: contents;
    }
}

.sort {
    display: flex;
    align-items: flex-end;
    width: 800px;
    justify-content: flex-start;
    margin-bottom: 10px;

    select {
        width: 100px;
        margin: 0 50px 0 10px;
    }
}
